.reservation {
  background-color: #d9e7ff;
  background-image: url("file:///C:/Users/jonwa/projects/se_project_coffeeshop/images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.reservation__form {
  margin: auto;
}

.form {
  max-width: 385px;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-top: 8px;
  max-width: 385px;
  height: 60px;
}

.form__label {
  margin-bottom: 32px;
  display: block;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
}

.form__button {
  width: 100%;
  margin-bottom: 32px;
  height: 60px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #1878dc;
}

.form__button:hover {
  color: #3f96f3;
}

.reservation {
  padding: 100px 0 120px;
}

.reservation__title {
  padding: 0 0 80px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.form__label form__label_type_checkbox {
  margin-bottom: 120px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
}

.form__checkbox {
  justify-content: space-between;
}
